[role=tablist] {
  margin: 1em;
  clear: left;
  border-bottom: 1px solid #ccc;
}

[role=tablist] [role=tab] {
  background-color: #e5e5e5;
  border: 1px solid #ccc;
  border-bottom: 0;
  line-height: 2em;
  padding-left: 1em;
  cursor: pointer;
}

[role=tablist] [role=tab]:focus {
  background-color: #ccc;
}

[role=tablist] [role=tabpanel] {
  margin: 0;
  border: 1px solid #ccc;
  border-bottom: 0;
  overflow: hidden;
  max-height: 500px;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

[role=tablist] [aria-hidden=true] {
  max-height: 0;
}
